<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6">
            HOW TO Guide for Administrator
        </h1>
        <p>
            <br>
            As an Administrator you can Setup Exams.
            <br>
            First, you need to add some Topics by clicking on option "Add Topic"
            <br>
            Second, Create a question bank by clicking on "Add Question" option.
            <br>
            Finally, You create a new Exam by clicking on option "Add Exam".
            <br><br>
            "Exams" options lists down all the exam available.
            "Questions" options shown the question bank.

        </p>
    </div>
</div>