{% extends "base.html" %}
{% load exam_filters %}
{% block body_block %}
<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        float: left;
        padding: 5px 5px;
        margin: 2px;
    }
</style>
<div class="container">
    <div class="exam-timer-div">Time Left : <span id="exam_timer" class="exam-timer"></span></div>
    <form id="exam-form" name="exam-form" method="POST" action="/submit_exam/">
        {% csrf_token %}
        <input type="hidden" name="exam_attempt_id" value="{{exam_attempt_id}}">
        <div class="pagination col-md-12">
            <li class="page-item ">
                <a class="page-link" href="#carouselExampleIndicators" role="button" data-slide="prev" tabindex="-1"
                    onclick="carouselChangePrev()">Previous</a>
            </li>
            {% for num in exam_obj.question_count|times %}
            {% if 1 == num %}
            <li class="page-item active"><a class="page-link" id="{{num}}" href="#"
                    onclick="setcarouselActive(this.id)">{{num}}<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" id="{{num}}" href="#"
                    onclick="setcarouselActive(this.id)">{{num}}</a>
            </li>
            {% endif %}
            {% endfor %}

            <li class="page-item">
                <a class="page-link" href="#carouselExampleIndicators" role="button" data-slide="next"
                    onclick="carouselChangeNext()">Next</a>
            </li>
        </div>
        <div id="carouselExampleIndicators" class="carousel" data-interval="false" data-wrap="false">
            <div class="carousel-inner">
                {% for question in exam_obj.questions.all %}
                {% if forloop.counter == 1 %}
                <div id="carousel-{{forloop.counter}}" class="carousel-item active">
                    {% else %}
                    <div id="carousel-{{forloop.counter}}" class="carousel-item ">
                        {% endif %}
                        <div class="card col-md-12">
                            <div class="card-body">
                                {{question|linebreaksbr}}
                                <br>
                                {% if question.question_image %}
                                <img class="coverImgBig" src="/media/{{question.question_image}}">
                                {% endif %}
                                <br>
                                <br>
                                {% define question.options as option_dict %}
                                {% if question.question_type == 'Single Selection' %}
                                {% for key, value in option_dict.items %}
                                <div class="radio">
                                    <label><input type="radio" name="{{question.pk}}" value="{{key}}"> {{value}}
                                    </label>
                                </div>
                                {% endfor %}
                                {% else %}
                                {% for key, value in option_dict.items %}
                                <div class="checkbox">
                                    <label><input type="checkbox" name="{{question.pk}}" value="{{key}}">
                                        {{value}}</label>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <br>
            <input type="submit" class="btn btn-success" value="Submit">
    </form>
</div>
<script>
    var exam_start_time = "{{ exam_start_time }}"
    var duration_hours = "{{ exam_obj.time|time:'H' }}"
    var duration_minutes = "{{ exam_obj.time|time:'i' }}"
    var dt_now = new Date();
    dt_now.setHours(dt_now.getHours() + Number(duration_hours));
    dt_now.setMinutes(dt_now.getMinutes() + Number(duration_minutes));
    document.getElementById("exam_timer").innerHTML = Number(duration_hours) + "h "
        + Number(duration_minutes) + "m 00s ";
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date();

        // Find the distance between now and the count down date
        var distance = dt_now - now;
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("exam_timer").innerHTML = hours + "h "
            + minutes + "m " + seconds + "s ";

        if (minutes < 5) {
            document.getElementById("exam_timer").classList.remove('exam-timer');
            document.getElementById("exam_timer").classList.add('exam-timer-red');
        }
        if (minutes <= 0 && seconds <= 30) {
            document.getElementById("exam_timer").classList.remove('exam-timer-red');
            document.getElementById("exam_timer").classList.add('exam-timer-flash');
        }
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("exam_timer").innerHTML = "EXPIRED";
            var exam_form = document.getElementById('exam-form')
            exam_form.submit();
        }
    }, 1000);


    total_ques = "{{ exam_obj.question_count }}"
    function setcarouselActive(carousel_id) {
        var currentIndex = $('div.active').index() + 1;
        $('#carousel-' + currentIndex).removeClass('active');
        $('#carousel-' + carousel_id).addClass('active')
        var pageIndex = $('li.active').index();
        $('#' + currentIndex).parent().removeClass('active');
        $('#' + carousel_id).parent().addClass('active')
    }
    function carouselChangeNext() {
        var currentIndex = $('div.active').index() + 2;
        if (currentIndex <= total_ques) {
            var pageIndex = $('li.active').index();
            $('#' + pageIndex).parent().removeClass('active');
            $('#' + currentIndex).parent().addClass('active')
        }
    }
    function carouselChangePrev() {
        var currentIndex = $('div.active').index();
        if (currentIndex > 0) {
            var pageIndex = $('li.active').index();
            $('#' + pageIndex).parent().removeClass('active');
            $('#' + currentIndex).parent().addClass('active')
        }
    }
</script>
{% endblock %}