{% extends "base.html" %}
{% load bootstrap4 %}
{% block body_block %}
<div class="container">
    <h1>Topic</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary" value="Create">
    </form>
    <hr>
    <h3>Existing Topics List</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in topic_list %}
            <tr>
                <th scope="row">{{topic.pk}}</th>
                <td>{{topic.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}